# Python cache
__pycache__/
*.pyc
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Environment files
.env
.env.*

# Logs
data/logs/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Local data/state
data/processed/

# Notebooks
*.ipynb
